<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contest.description %>
</p>

<p>
  <strong>End date:</strong>
  <%= @contest.end_date %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @contest.prize %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contest.company %>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
