<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @submission.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @submission.contest_id %>
</p>

<p>
  <strong>Won:</strong>
  <%= @submission.won %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
